/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

  margin: 0 auto;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  background-color: var(--accent-color-background);
  color: var(--text-color);
  background-image: var(--cover-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.decorated-zone {
  position: relative;
  min-block-size: 100vh;
}

:is(.header, .footer)::before,
:is(.header, .footer)::after {
  content: "";
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
}

:is(.header, .footer)::before {
  top: 10px;
  right: 10px;
  justify-self: end;
  border-inline-end: 1px solid var(--decoration-color);
  border-block-start: 1px solid var(--decoration-color);
}

.header::after {
  left: 10px;
  bottom: 10px;
  align-self: end;
  border-inline-start: 1px solid var(--decoration-color);
  border-block-end: 1px solid var(--decoration-color);
}

.decor-rec {
  grid-area: header;
  display: flex;
  gap: 3px;
  justify-content: flex-end;
  margin: var(--decor-margin);
}

.decor-rec::before {
  content: var(--rec);
  margin-inline-end: 28px;
  text-transform: uppercase;
  line-height: 25px;
  color: var(--decoration-color);
}

.decor-rec::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 18px;
  display: var(--bulb);
  vertical-align: middle;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--decoration-color);
  box-shadow: 0 0 4px 2px var(--decoration-color);
}

.header {
  padding: 10px 10px 0 10px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 63px 165px 247px 148px;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "footer footer";
  height: 100vh;
  min-block-size: 375px;
}

.header__theme-menu {
  grid-area: nav;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: inherit;
  text-transform: lowercase;
  color: var(--button-color);
  border: 0;
  width: 70px;
  height: 26px;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  margin: 0;
  text-decoration: underline;
  text-decoration-color: var(--button-color);
  text-underline-offset: 3px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--button-color-active);
}

.header__heading {
  grid-area: main;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  color: var(--title-text-color);
  margin-block-end: 55px;
  line-height: 83%;
}

.header__description {
  grid-area: footer;
  justify-self: end;
  margin-block-start: auto;
  margin-block-end: 35px;
}

.title-decor {
  background: var(--background-accent);
  color: var(--title-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.accent-shadow-text {
  text-shadow: 4px 4px 0px var(--title-shadow);
}

.section__title {
  margin-block-start: 45px;
  margin-block-end: 20px;
  color: var(--title-accent-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  max-inline-size: 340px;
}

.link {
  text-shadow: 2px 2px 0px var(--title-shadow);
  text-decoration: none;
}
.section,
.section__what {
  padding: 0 10px;
  background-image: none;
  margin-block-end: 12px;
}

h2 + .title-decor,
.article__info {
  margin-block-start: 10px;
  margin-block-end: 20px;
}

.article__title {
  margin-block-end: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.article__subtitle {
  margin-block-end: 10px;
  color: var(--subtitle-accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.article__info {
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

/* Секция с изображениями  */

.pictures__section {
  margin-block-start: 50px;
  padding: 0 10px;
}

.section__pictures {
  display: grid;
  gap: 10px;
  margin-block-end: 50px;
  max-block-size: 1360px;
}

.picture {
  object-fit: cover;
  display: block;
  inline-size: 100%;
}

.footer::after {
  bottom: 10px;
  left: 10px;
  align-self: end;
  border-inline-start: 1px solid var(--decoration-color);
  border-block-end: 1px solid var(--decoration-color);
}

.footer {
  padding: 0 0 10px;
  block-size: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  min-block-size: 668px;
}

.footer__title {
  justify-self: center;
  align-self: center;
  color: var(--title-text-color);
  text-shadow: 2px 2px 0px var(--title-shadow);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
}

/* Адаптив */

/* Header */

@media (width >= 768px) {
  .header::before {
    top: 20px;
    right: 20px;
  }

  .decor-rec::after {
    top: 28px;
    right: 28px;
  }

  .header {
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      ". footer";
    padding: 20px 20px 0 20px;
    margin-block-end: 60px;
  }

  .header__theme-menu-list {
    margin-block-start: var(--margin-nav);
  }

  .header__heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
    /* margin-block-end: 160px; */
  }

  .header__theme-menu {
    margin: 128px 0 173px;
  }

  .header__description {
    margin-block-end: 182px;
  }

  .header::after {
    left: 20px;
    bottom: 20px;
    align-self: end;
    border-inline-start: 1px solid var(--decoration-color);
    border-block-end: 1px solid var(--decoration-color);
  }

  @media (width >= 1024px) {
    .header__heading {
      margin-block-end: 114px;
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__theme-menu-button:hover {
      margin: 0;
      outline: 1px solid var(--button-border-color);
    }

    .header {
      min-height: 100%;
      margin-block-end: 60px;
      grid-template-rows: 298px 245px auto;
      grid-template-areas:
        "nav header"
        "main main"
        "footer footer";
    }

    .header__theme-menu {
      grid-area: nav;
      justify-self: center;
      align-self: flex-start;
      margin: auto;
    }

    .header__theme-menu-list {
      margin-block-end: 273px;
      flex-direction: row;
      align-self: start;
    }

    .decorated-zone {
      min-height: 94vh;
    }

    .header__description {
      max-inline-size: 491px;
    }
  }

  /* Main */

  @media (width >= 768px) {
    .section,
    .section__what {
      padding: 0 20px;
    }

    .section {
      margin-block-end: 58px;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-auto-rows: min-content;
    }

    .section__title {
      margin: 0 0 20px 0;
      max-inline-size: 220px;
      grid-row: span 2;
    }
    .section__article {
      padding-inline-start: 7px;
      grid-column-start: 2;
    }
    .section__title + .title-decor {
      margin-inline-start: 7px;
    }
    .section__what {
      display: grid;
      margin-block-end: 50px;
    }
    .section__what > .section__article {
      grid-column-start: 1;
      padding-inline-start: 0px;
    }
    .section__what > .section__title {
      inline-size: 230px;
    }
  }

  @media (width >= 1024px) {
    .section__what {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, minmax(315px, max-content));
    }

    .section__title {
      max-inline-size: 315px;
      margin-block-start: 2px;
      margin-block-end: 0;
    }

    .section__what > .section__title {
      inline-size: 315px;
      grid-row: auto;
    }

    .section__what > .section__article {
      grid-column-start: auto;
      grid-row-start: 2;
    }
  }

  @media (min-width: 1024px) {
    .header {
      grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    }

    .header__theme-menu-list {
      display: flex;
      flex-direction: row;
      align-self: start;
    }
    .header__theme-menu {
      grid-area: header;
      margin: 0;
      justify-self: center;
      align-self: flex-start;
    }
  }

  /* Pictures */

  @media (width >= 768px) {
    .pictures__section {
      margin-block-end: 60px;
      padding: 0 20px;
    }

    .section__pictures {
      max-block-size: 780px;
      margin-block-start: 20px;
      margin-block-end: 80px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas:
        "sunset sunset ice-cream"
        "cassette books ice-cream"
        "cassette street street"
        "cassette street street";
      gap: 20px;
    }

    .sunset {
      grid-area: sunset;
    }

    .ice-cream {
      grid-area: ice-cream;
    }

    .cassette {
      grid-area: cassette;
    }

    .books {
      grid-area: books;
    }

    .street {
      grid-area: street;
    }

    .picture {
      display: block;
      height: 100%;
      object-fit: cover;
    }

    .section__subtitle title-decor {
      margin-block-end: 10px;
    }
  }

  @media (width: 1024px) {
    .section__pictures {
      margin-block-end: 65px;
      min-block-size: 1050px;
    }
  }

  /* Footer */

  @media (width >= 768px) {
    .footer {
      padding: 0 20px 20px;
    }

    .footer__title {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .footer::before {
      top: 0;
      right: 20px;
    }

    .footer::after {
      bottom: 17px;
      left: 20px;
    }
  }

  @media (width>=1024px) {
    .footer {
      min-height: 300px;
    }

    .footer::before {
      top: 12px;
    }

    .footer::after {
      bottom: 27px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1020px) {
  .header {
    grid-template-rows: 45px 212px 272px auto;
  }

  .header__heading {
    margin-block-start: 181px;
  }

  .section {
    display: grid;
    column-gap: 10px;
  }

  .footer {
    block-size: 98vh;
  }
}
